[submodule "django"]
	path = django
	url = https://github.com/muhyasin89/YoutubeDjango.git
[submodule "YoutubeDjango"]
	path = YoutubeDjango
	url = https://github.com/muhyasin89/YoutubeDjango.git
[submodule "YoutubeVue"]
	path = YoutubeVue
	url = https://github.com/muhyasin89/YoutubeVue.git
[submodule "YoutubeFlutterUI"]
	path = YoutubeFlutterUI
	url = https://github.com/muhyasin89/YoutubeFlutterUI.git
[submodule "YoutubeFlutterProject"]
	path = YoutubeFlutterProject
	url = https://github.com/muhyasin89/YoutubeFlutterProject.git
[submodule "YoutubeGo"]
	path = YoutubeGo
	url = git@github.com:muhyasin89/YoutubeGo.git
[submodule "YoutubeReactTS"]
	path = YoutubeReactTS
	url = git@github.com:muhyasin89/YoutubeReactTS.git

